.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

div {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    contain-intrinsic-block-size: auto;
}